langchain==0.1.17
langchain-community==0.0.36
langchain-core==0.1.52
langchain-chroma
langchain-groq
langchain-huggingface
streamlit
chromadb
sentence-transformers
python-dotenv
ipykernel
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss_cpu
langchain_chroma
duckdb
pandas
openai
langchain-groq
streamlit
torchvision
duckduckgo-search
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr